.message {
  max-width: 600;
  margin: 20px auto;
  padding: 10px;
  overflow-y: auto;
  border-radius: 15px;
}

.user {
  background-color: #8de4ff;
  text-align: right;
}

.chatbot {
  background-color: pink;
}

.loading-dots {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b0b0b0;
  animation: dots 5s infinite;
  margin-right: 5px;
}

@keyframes dots {
  0%,
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#loading-indicator {
  display: none;
  margin-bottom: 10px;
}
