body {
  margin: 0;
  background-color: yellow;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  width: 360px;
  padding: 40px 20px;
  text-align: center;
  box-sizing: border-box;
}
.img img {
  width: 150px;
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}
.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background-color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.or {
  margin: 16px 0 16px;
  color: gray;
  font-size: 13px;
}
.qr {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.qr img {
  width: 35px;
  height: 35px;
}

.auto input {
  width: 15px;
  height: 15px;
}
.auto {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 6px;
}
.auto .i {
  background-color: blanchedalmond;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.missing {
  margin-top: 130px;
  font-size: 14px;
}
.missing a {
  color: darkgray;
  text-decoration: none;
  margin: 0 5px;
}
