* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(255, 244, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 350px;
  height: 460px;
  overflow: hidden; /*회원가입 창 안 보이게*/
  border-radius: 50px;
  background-color: white;
  position: relative;
}
.slide {
  display: flex;
  width: 200%;
  height: 100%;
  transition: transform 0.6s ease-in-out; /*슬라이드 효괔*/
}
.login-box,
.signup-box {
  width: 50%;
  padding: 40px 30px;
  text-align: center;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  background: rgb(252, 252, 239);
}

button {
  width: 100%;
  padding: 12px;
  background-color: rgb(145, 233, 248);
  border: none;
  color: gray;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(0, 191, 255);
}

.link {
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  text-decoration: none;
}

/*슬라이드 체크 되면 변화*/
#slide:checked ~ .container .slide {
  transform: translateX(-50%);
}
